<HTML>
 <fieldset> <legend>Options</legend>
               <form action=/query> 
               <select id="designers" name="designers"> 
              <option value="Zegna">Zegna</option>    
              <option value="Chanel">Chanel</option>    
              <option value="Gucci">Gucci</option>  
               <option value="Versace">Versace</option> 
              </select>        
              <p> 
               <input type="submit" value="Submit">
               </form> 
               </fieldset> 

</HTML>